* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 992px) {
    .headbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-left: 2%;
     padding-right: 2%;
     padding-top: 1%;
     font-size: 1.5em;
     font-family: 'Secular One', sans-serif;
     background-color: rgb(43, 51, 63);
    }

    .mainpage {       
        background-color: rgb(43, 51, 63);
    }

    .headbar .logo h1 {
        color: rgb(255, 255, 255);
    }

    .headbar .text a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-align: center;
        font-size: 1.0em;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(50, 56, 65);
        padding-top: 1%;
        padding-bottom: 1%;
    }

    footer a {
        text-decoration: none;
        font-family: 'Secular One', sans-serif;
        color: rgb(100, 100, 100);
    }
}
@media only screen and (max-width: 992px) {
    
}
